@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --sidebar-color: #ffffff;
  --navbar-color-light: #ffffff;
  --border-color: rgba(165, 165, 165, 0.329);
  --main-text-color: #00004b;
  --main-bg-color: #ebeeff;
  --main-dark-color: #00004b;
  --action-small-btn: #8798FF;
}

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--main-dark-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@media screen and (max-width: 465px) {
  .created-tasks-table-main{
    width: 85vw !important;
  } 
}

@media screen and (max-width: 450px) {
  .created-tasks-table-main{
    width: 82vw !important;
  } 
}

@media screen and (max-width: 400px) {
  .created-tasks-table-main{
    width: 80vw !important;
  } 
}
@media screen and (max-width: 360px) {
  .created-tasks-table-main{
    width: 79vw !important;
  } 
}
@media screen and (max-width: 330px) {
  .created-tasks-table-main{
    width: 78vw !important;
  } 
}

@media screen and (max-width: 300px) {
  .created-tasks-table-main{
    width: 77vw !important;
  } 
}

@media screen and (max-width: 270px) {
  .created-tasks-table-main{
    width: 76vw !important;
  } 
}

/* =================== manage jr admin */

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
